<%= form_for @post do |f| %>
    <p>
        <%= f.label :title %> <br />
        <%= f.text_field :title %> <br />
    </p>
        <%= f.label :content %> <br />
        <%= f.text_field :content %> <br />
    <p>
        <%= f.submit "edit post" %>
    </p>
<% end %>