<div id="post_content">
        <h1 class = "title">
            <%= @post.title %>
        </h1>
        <p class = "body">
            <%= @post.content %>
        </p>
        <p class = "address">
            <%= @post.address %>
        </p>
        
        <!--For checking latitude and longitude-->
        <!--<p class = "latitude">-->
        <!--    <%= @post.latitude %>-->
        <!--</p>-->
        <!--<p class = "longitude">-->
        <!--    <%= @post.longitude %>-->
        <!--</p>-->
        
        <div id="map"></div>
        <script>
            function initMap() {
                var x = <%= @post.latitude %>;
                var y = <%= @post.longitude %>
                var myvar1 = "lat";
                var myvar2 = "lng";
                var uluru = {};
                uluru[myvar1] = x;
                uluru[myvar2] = y;
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: uluru
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1eXQAnmglWeRW-Q6UuaVa7_ktyuB9KbM&callback=initMap">
        </script>
    
        <p class = "date"> 
            Created <%= time_ago_in_words(@post.created_at) %> ago
        </p>
        <%= link_to "Home", posts_path %> |
        <% if user_signed_in? %>
        
            <%= link_to "Edit", edit_post_path(@post) %> | 
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm:
            'Are you sure you want to delete?' } %>
        <% end %>
        
        <div id="comments">
            <h2><%= @post.comments.count %> Comments</h2>
            <%= render @post.comments %>
            
            <h2>Add a new comment:</h2>
            <%= render "comments/form" %>
        </div>
</div>